@import '../../../sass/variables';
@import '../../../sass/mixins';

.container {
    padding: 20px 10px;
    background-color: $bcg-color-lighter;
}

.section {
    max-width: 1200px;
    margin: auto;
}

.section__wrapper {
    padding: 20px 10px 30px;
}