// media queries breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

// colors
$bcg-color-darker: #011627;
$bcg-color-lighter: #152D40;
$bright-blue: #219FD5;
$light-blue: #A7DBF7;
$white: #ffffff;
$nav-blue: #004A80;

$header-height: 60px;

$title-color: #C5C5C5;

$card-radius: 10px;
$card-padding: 16px;

$form-radius: 4px;
$form-error-color: #CF000F;
$form-success-color: #009944;

$hamburger-color: #ffffff;
$hamburger-size: 32px;