@import '../../sass/_variables.scss';

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

.wrapper {
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: $nav-blue;

    &:hover {
        background-color: $bright-blue;
    }
}