@import '../../sass/_variables.scss';
@import '../../sass/_mixins.scss';

.container {
    padding: 20px 10px;
    background-color: $bcg-color-lighter;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.section__title {
    padding-bottom: 4px;
    border-bottom: 1px solid $light-blue;
    color: $light-blue;
    font-size: clamp(2.8rem, 4vw, 3.4rem);
}