@import '../../sass/_variables.scss';
@import '../../sass/_mixins.scss';

.contact__wrapper {
    display: flex;
    justify-content: center;

    @include mq(lg) {
        justify-content: space-evenly;
    }
}

.paperplane-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(xl) {
        position: relative;
    }
}

.form {
    flex: 1;
    margin-top: 20px;

    @include mq(lg) {
        flex: 0;
    }
}

.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;

    & label {
        margin-bottom: 2px;
        color: $light-blue;
        font-size: 1.6rem;
    }

    & input,
    textarea {
        max-width: 100%;
        margin-top: 2px;
        padding: 8px 12px;
        border-radius: $form-radius;
        border: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        font-size: 1.6rem;
        font-family: 'Inter', sans-serif;
        outline-color: $bright-blue;

        @include mq(sm) {
            width: 550px;
        }

        &:invalid[focused="true"] {
            box-shadow: 0 0 0 1px $form-error-color;
            outline-color: $form-error-color;
        }

        &:invalid[focused="true"]~span {
            visibility: visible;
        }
    }

    & textarea {
        height: 250px;
        resize: none;
    }

    & span {
        color: $form-error-color;
        font-size: 1.2rem;
        visibility: hidden;
    }

}


.form__button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-radius: $form-radius;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(50deg, $bright-blue, darken($bright-blue, 12%) 70%);
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    @include mq(sm) {
        max-width: 100px;
    }

    &:hover {
        background: linear-gradient(50deg, darken($bright-blue, 12%), darken($bright-blue, 22%) 70%);
        color: darken($white, 10%)
    }
}