@import '../../sass/_variables.scss';
@import '../../sass/_mixins.scss';

.footer {
    padding-top: 10px;
    background: linear-gradient($bcg-color-lighter, $bcg-color-darker );
}

.credits {
    padding-top: 30px;
    padding-bottom: 5px;
}

.credits__text {
    color: darken($bright-blue, 25%);
    font-size: 10px;
    text-align: center;
}

.credits__link {
    color: darken($light-blue, 25%);
    text-decoration: none;
}